@font-face {
  font-family: "Halvar Breitschrift";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Halvar Breitschrift"), url("@/assets/fonts/HalvarBreit-Rg.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Montserrat"), url("@/assets/fonts/Montserrat-Thin.ttf") format("truetype");
}


@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), url("@/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat"), url("@/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat"), url("@/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

* {
  &::before,
  &::after {
    pointer-events: none;
  }
}

body {
  color: rgb(var(--textColor));
  font-family: "Montserrat", sans-serif;
  background: rgb(var(--body));
  font-size: 16px;
  line-height: 29px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1340px;

  @media(max-width: 1000px) {
    max-width: 430px;
    padding: 0 8px;
  }
}


.openMenu {
  max-height: 100vh;
  overflow: hidden;
}

.base-title {
  font-family: 'Halvar Breitschrift', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  margin: 0;

  @media(max-width: 1000px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.line {
  height: 100%;
  width: 0.5px;
  background: gray;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background: linear-gradient(
                  270deg,
                  rgba(201, 201, 201, 0.13) 24.2%,
                  rgba(201, 201, 201, 0.044) 42.35%,
                  rgba(201, 201, 201, 0.2) 78.09%,
                  rgba(201, 201, 201, 0) 100%
  );
}

.wrap-page {
  margin-top: 263px;

  @media(max-width: 1000px) {
    margin-top: 0;
  }
}